[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/syntastic.vim"]
	path = bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar.vim"]
	path = bundle/tagbar.vim
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/sexy-railscasts-theme"]
	path = bundle/sexy-railscasts-theme
	url = https://github.com/oguzbilgic/sexy-railscasts-theme.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/bundler"]
	path = bundle/bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/HTML-AutoCloseTag"]
	path = bundle/HTML-AutoCloseTag
	url = https://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "bundle/autoclose.vim"]
	path = bundle/autoclose.vim
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/endwise.vim"]
	path = bundle/endwise.vim
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/twitvim.vim"]
	path = bundle/twitvim.vim
	url = https://github.com/vim-scripts/TwitVim.git
[submodule "bundle/molokai.color"]
	path = bundle/molokai.color
	url = https://github.com/tomasr/molokai
[submodule "bundle/gist.vim"]
	path = bundle/gist.vim
	url = https://github.com/mattn/gist-vim.git
